/*--------Setear el Index------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

/*--------------Encabezado -------*/

header{
    /*border: 2px dashed black;*/
    height: 50vh;
    background-image: url(../IMG/ciudad.jpg.crdownload);
    background-size:cover ;
    background-repeat: no-repeat;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.head{
    /*border: 2px dashed cyan;*/
    height: 50%;
    display: flex;
    flex-direction:column;
    justify-content:center ;
    align-items:center ;
    position: absolute;
    top: 150px;
}

.head_nombre{
    /*border: 2px dashed salmon;*/
    color: white;
    font-family: sans-serif;
    width: 320px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 380px;
    font-size: 3rem;
}

.head_foto{
    border-radius: 10px;
    width: 40vh;
    height: 80vw;
    position: relative;
    top: 20px;
}

