@media (min-width: 500px) {

.head_foto{
    border-radius: 10px;
    width: 50vw;
    position: relative;
    top: 300px;
}

header{
    border: 2px dashed black;
    height: 50vh;
    background-image: url(../IMG/tecnology.jpg);
    background-size:cover ;
    background-repeat: no-repeat;
    display: flex;
    flex-direction:column;
    justify-content:center ;
    align-items:center ;
}

.head{
    height: 50%;
    display: flex;
    flex-direction:column;
    justify-content:center ;
    align-items:center ;
    position: absolute;
    top: 200px;
}
}