@media (min-width: 500px) {

/*--------------Encabezado ---------*/


.head{
    /*border: 2px dashed cyan;*/
    height: 70%;
    width: 80vw;
    
}

.head_nombre{
    
    font-size: 10rem;
}

.head_foto{
    border-radius: 10px;
    width: 30vw;
    
    position: absolute;
    top: 300px;
}
}